.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  color: white;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('https://scontent.fjnb2-1.fna.fbcdn.net/v/t1.6435-9/75402042_2155399888098121_3626579039377948672_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=0b6b33&_nc_ohc=z9qMMDUXQ6wQ7kNvwFWPG08&_nc_oc=Adktj1Pcms2dGLcuoc4TOmx9u5mazUamED0OUvRee_0OAjcNZN7Mutdvmoq7KzSjy2w&_nc_pt=5&_nc_zt=23&_nc_ht=scontent.fjnb2-1.fna&_nc_gid=YAm8RLMI9HEod8PFPY_BAg&oh=00_AfEe61NlZYQfCxh0XHWCpu0ftnUBnHFfNmYsp5VaRtSI7w&oe=682ABBEC'); // replace with actual image
    background-size: cover;
    background-position: center;
    filter: grayscale(50%) brightness(30%);
    z-index: 1;

    @media  (max-width: 640px) {
      background-position: right;
      filter: grayscale(50%) brightness(60%);

    }
  }

  &-buttons-container {
      @media (max-width: 430px) {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 30px auto 0 auto;
      }
  }

  > .rounded-3xl {
    position: relative;
    z-index: 2;
  }

  .hero-desc {
    font-size: 1.2rem; 
    font-weight: bold;

    @media (max-width: 668px) {
      font-size: 1.1rem; 
      padding: 0 5px;
      text-shadow: 1px 1px 2px black;
    }
  }
}