.main {
    background-image: url('https://img.freepik.com/premium-photo/large-luxury-modern-minimal-bright-interiors-room-mockup-illustration-3d-rendering_653967-9545.jpg');
    background: rgba(255, 255, 255, 0.2);
    background-position: center;
    background-size: cover;
    margin-top: 60px;
    height: 89vh;
    -webkit-backdrop-filter: blur(60px);
    backdrop-filter: blur(60px);
}