.testimonials-section {
    padding: 4rem 2rem;
    height: calc(100dvh - 80px);
    margin-top: 80px;
    display: flex;
    align-items: center;
    // background-image: url('/testi.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;

    @media (max-width: 640px) {
        height: 100vh;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    h2 {
        font-size: 0.6rem;
        margin-bottom: 1rem;
        color: #333;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
    }

    .testimonials-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;

        h3 {
            font-size: 38px;
            line-height: 1.2;
            margin: 0.5rem 0;
            font-weight: 600;
            color: #111;
        }
    }

    .subheading {
        font-size: 1.2rem;
        color: #666;
        margin-bottom: 0.5rem;
    }

    .testimonial-card {
        background: white;
        border-radius: 8px;
        padding: 10px;
        height: 300px;
        transition: transform 0.3s ease;
        

        & .card-content {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
        }
    }

    .author-info {
        margin-top: 1rem;
    }

    .author-name {
        font-weight: bold;
        color: #333;
        margin-bottom: 0.2rem;
        font-size: 1.1rem;
    }

    .author-position {
        color: #666;
        font-size: 0.9rem;
    }

    @media (max-width: 768px) {
        height: auto;
        padding: 3rem 1.5rem;
        margin-top: 60px;

        .testimonials-text-wrapper h3 {
            font-size: 28px;
        }

        .carousel-item {
            min-width: 85%;
        }
    }
}

.msg {
    font-size: 12px;
    padding: 0;
}
