.services-section {
    flex-direction: column;
    padding: 100px 0;
    gap: 10px;

    & h2 {
        font-size: 3em;
        font-weight: 500;
    }

    
    & .card {
        width: 65%;
        height: 300px;
        margin-bottom: 20px;
        box-shadow:  0px 6px 34px rgba(215, 216, 222, .41);
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 10px;
        font-size: 1.5em;
        border-radius: 20px;
        background-image: url('/card-image.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

        & :nth-child(2) {
            text-align: right;


            & span {
                font-size: 14px !important;
            }
        }
    }

    & .service-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        width: 70%;


        & .service-card {
            width: 400px;
            height: 250px;
            box-shadow:  0px 6px 34px rgba(215, 216, 222, .41);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            gap: 15px;
            border-radius: 10px;

            & h3 {
                font-size: 1.3em;
            }


            & .service-icon {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}